@model BlogCentralVersion2.Models.BlogPost

@{
    ViewBag.Title = "Detaljer";
}


<div class="jumbotron">
    <h1>@Model.BlogPostTitle</h1>
    <p>


        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.BlogPostAuthor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BlogPostAuthor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BlogPostPost)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BlogPostPost)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateCreated)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateCreated)
            </dd>

        </dl>
    </p>

    @*Sjekker om bruker er logget inn for å få editeringsmuligheter og mulighet til å kommentere.
    Sjekker også om innlegget er åpen for kommentering.*@
    @if (ViewBag.isLoggedIn)
    {
        @Html.ActionLink("Rediger innlegg", "Edit", new { BlogPostid = Model.BlogPostId, BlogId = Model.Blog.BlogId }, new { @class = "btn btn-success" })
        @Html.ActionLink("Tilbake til innlegg", "Index", new { BlogId = ViewBag.BlogId }, new { @class = "btn btn-primary" })
        <hr />

        if (Model.isOpen)
        {<p>Kommentarer på innlegget @Model.BlogPostTitle</p>
       @* @Html.Partial("_AjaxCommentView", new ViewDataDictionary { { "BlogPostId", ViewBag.BlogPostId }, { "BlogId", ViewBag.BlogId } })*@


    @Html.Partial("_CommentListView", Model.Comments, new ViewDataDictionary { { "BlogPostId", ViewBag.BlogPostId }, { "BlogId", ViewBag.BlogId } })
    <p>Legg igjen en kommentar</p>
    @Html.Partial("_Comments", new BlogCentralVersion2.Models.Comment(), new ViewDataDictionary { { "BlogPostId", ViewBag.BlogPostId }, { "BlogId", ViewBag.BlogId } })
    
        }
    }






</div>





