@model IEnumerable<BlogCentralVersion2.Models.BlogPost>

@{
    ViewBag.Title = "Oversikt";
}

<h2>Oversikt over innlegg</h2>

<p>

    @*Sjekker om bruker er eier av bloggen og dersom det stemmer vil knappen for å legge inn nytt innlegg dukke opp.*@
    @if (ViewBag.userName == User.Identity.Name)
    {
        @Html.ActionLink("Lag nytt innlegg", "Create", new { BlogId = ViewBag.BlogId }, new { @class = "btn btn-success" })
    }

</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BlogPostTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlogPostAuthor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlogPostPost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.BlogPostTitle, "Details", new { BlogId = ViewBag.BlogId, BlogPostId = item.BlogPostId }, null)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogPostAuthor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogPostPost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>

                @*Sjekker om bruker er eier av objektet for å vise ekstra editeringsmuligheter*@
                @if (item.OwnerOfBlogPost.UserName == User.Identity.Name)
                {
                    @Html.ActionLink("Rediger", "Edit", new { BlogId = ViewBag.BlogId, BlogPostId = item.BlogPostId }, null)@:|

                    @Html.ActionLink("Slett", "Delete", new { BlogId = ViewBag.BlogId, BlogPostId = item.BlogPostId }, null)
                }

            </td>

        </tr>
    }

</table>

