@model IEnumerable<BlogCentralVersion2.Models.Comment>

@{
    int BlogPostId = Convert.ToInt32(ViewData["BlogPostId"]);
    int BlogId = Convert.ToInt32(ViewData["BlogId"]);
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CommentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommentPost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datecreated)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CommentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommentPost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datecreated)
        </td>
        <td>
            @*Sjekker om innlogget bruker er eier av blogginnlegg for å få mulighet til å slette kommentarer*@
            @if(item.BlogPost.OwnerOfBlogPost.UserName == User.Identity.Name)
            {
                @Html.ActionLink("Slett kommentar", "DeleteComment", new { Commentid = item.CommentId, BlogPostId = BlogPostId, BlogId = BlogId })
            }
            
        </td>
    </tr>
}

</table>
